* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popular-rank {
    margin: 10px;
    font-size: 20px;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}
